In [126]:
import requests

from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm

### Scrape site

In [127]:
URL = 'https://www.urparts.com'

In [128]:
def comprehension_catch(item):
    part_number = item.contents[0].split(' - ')[0].strip()
    
    try:
        part_category = item.find('span').contents[0]
    except AttributeError:
        part_category = None
    
    return part_number, part_category

In [129]:
def get_soup(url_header):
    url = f'{URL}/{url_header}'
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    soup = soup.find('div', id='wrap')
    soup = soup.find('div', id='wrap2')
    soup = soup.find('div', id='contentWrapWide')
    return soup

In [130]:
url_header = 'index.cfm/page/catalogue'
soup = get_soup(url_header)
soup = soup.find('div', class_='c_container allmakes')
manufacturers = [[item.contents[0].strip(), item['href']] for item in soup.find_all('a')]

In [131]:
for item in soup.find_all('a'):
    print(type(item))
    break

<class 'bs4.element.Tag'>

In [133]:
type(soup)

bs4.element.Tag

In [36]:
def scrape_site():
    url_header = 'index.cfm/page/catalogue'
    soup = get_soup(url_header)
    soup = soup.find('div', class_='c_container allmakes')
    manufacturers = [[item.contents[0].strip(), item['href']] for item in soup.find_all('a')]
    
    all_categories = pd.DataFrame()
    for manufacturer in tqdm(manufacturers[9:]):
        soup = get_soup(manufacturer[1])
        soup = soup.find('div', class_='c_container allmakes allcategories')
        categories = [[item.contents[0].strip(), item['href']] for item in soup.find_all('a')]

        all_models = pd.DataFrame()
        for category in categories:
            soup = get_soup(category[1])
            soup = soup.find('div', class_='c_container allmodels')
            models = [[item.contents[0].strip(), item['href']] for item in soup.find_all('a')]

            all_parts = pd.DataFrame()
            for model in models:
                print('*')
                try:
                    soup = get_soup(model[1])
                    soup = soup.find('div', class_='c_container allparts')
                    soup = soup.find('div', class_='c_container allparts')
                    parts = [comprehension_catch(item) for item in soup.find_all('a')]
                    parts = pd.DataFrame(columns=['part_number', 'part_category'], data=parts)

                    parts['model'] = model[0]
                    all_parts = pd.concat([all_parts, parts])
                except AttributeError as err:
                    models_found = False
                    model[1] = model[1].replace(' ', '%20')
                    print(f'URL - {URL}/{model[1]} - is broken')

            all_parts['category'] = category[0]
            all_models = pd.concat([all_models, all_parts])

        all_models['manufacturer'] = manufacturer[0]
        # all_models = all_models[['manufacturer', 'category', 'model', 'part_category', 'part_number']]
        all_categories = pd.concat([all_categories, all_models])
    return all_categories

In [35]:
all_categories = scrape_site()

In [54]:
all_categories

     manufacturer      category   model part_category part_number
0          Ammann  Roller Parts  ASC100    LEFT COVER    ND011710
1          Ammann  Roller Parts  ASC100      VIBRATOR    ND011758
2          Ammann  Roller Parts  ASC100   RIGHT COVER    ND011785
3          Ammann  Roller Parts  ASC100     ECCENTRIC    ND017673
4          Ammann  Roller Parts  ASC100     ECCENTRIC    ND017675
...           ...           ...     ...           ...         ...
1020       Ammann  Roller Parts   VV910   STEEL PLATE    ND107500
1021       Ammann  Roller Parts   VV910          LOCK    ND107501
1022       Ammann  Roller Parts   VV910         RIVET    ND107502
1023       Ammann  Roller Parts   VV910          YOKE    ND107504
1024       Ammann  Roller Parts   VV910        SWITCH    ND118115

[26412 rows x 5 columns]

In [24]:
url_header = 'index.cfm/page/catalogue'

In [25]:
soup = get_soup(url_header)
soup = soup.find('div', class_='c_container allmakes')

In [26]:
manufacturers = [[item.contents[0].strip(), item['href']] for item in soup.find_all('a')]

In [27]:
manufacturers

[['Ammann', 'index.cfm/page/catalogue/Ammann'],
 ['Atlas', 'index.cfm/page/catalogue/Atlas'],
 ['Atlas-Copco', 'index.cfm/page/catalogue/Atlas-Copco'],
 ['Bell', 'index.cfm/page/catalogue/Bell'],
 ['Bomag', 'index.cfm/page/catalogue/Bomag'],
 ['Doosan', 'index.cfm/page/catalogue/Doosan'],
 ['FAI', 'index.cfm/page/catalogue/FAI'],
 ['Hitachi', 'index.cfm/page/catalogue/Hitachi'],
 ['Hyundai', 'index.cfm/page/catalogue/Hyundai'],
 ['Isuzu', 'index.cfm/page/catalogue/Isuzu'],
 ['JCB', 'index.cfm/page/catalogue/JCB'],
 ['Kawasaki', 'index.cfm/page/catalogue/Kawasaki'],
 ['Komatsu', 'index.cfm/page/catalogue/Komatsu'],
 ['Mitsubishi', 'index.cfm/page/catalogue/Mitsubishi'],
 ['Moxy', 'index.cfm/page/catalogue/Moxy'],
 ['Volvo', 'index.cfm/page/catalogue/Volvo']]

In [34]:
all_categories = pd.DataFrame()
for manufacturer in tqdm(manufacturers[9:]):
    soup = get_soup(manufacturer[1])
    soup = soup.find('div', class_='c_container allmakes allcategories')
    categories = [[item.contents[0].strip(), item['href']] for item in soup.find_all('a')]

    all_models = pd.DataFrame()
    for category in categories:
        soup = get_soup(category[1])
        soup = soup.find('div', class_='c_container allmodels')
        models = [[item.contents[0].strip(), item['href']] for item in soup.find_all('a')]
        
        all_parts = pd.DataFrame()
        for model in models:
            try:
                soup = get_soup(model[1])
                soup = soup.find('div', class_='c_container allparts')
                soup = soup.find('div', class_='c_container allparts')
                parts = [comprehension_catch(item) for item in soup.find_all('a')]
                parts = pd.DataFrame(columns=['part_number', 'part_category'], data=parts)
                
                parts['model'] = model[0]
                all_parts = pd.concat([all_parts, parts])
            except AttributeError as err:
                models_found = False
                model[1] = model[1].replace(' ', '%20')
                print(f'URL - {URL}/{model[1]} - is broken')

        all_parts['category'] = category[0]
        all_models = pd.concat([all_models, all_parts])

    all_models['manufacturer'] = manufacturer[0]
    # all_models = all_models[['manufacturer', 'category', 'model', 'part_category', 'part_number']]
    all_categories = pd.concat([all_categories, all_models])

In [ ]:
all_categories.head()

In [ ]:
len(all_categories)

In [81]:
from sqlalchemy import create_engine
from sqlalchemy.sql import text

In [82]:
hostname="0.0.0.0:3306"
dbname="test_db"
uname="root"
pwd="password"

In [83]:
engine = create_engine(f'mysql+pymysql://{uname}:{pwd}@{hostname}')

In [84]:
connection = engine.connect()

Exception during reset or similar
Traceback (most recent call last):
  File "/Users/belyatskiy/miniconda3/envs/anaconda39/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 739, in _finalize_fairy
    fairy._reset(pool)
  File "/Users/belyatskiy/miniconda3/envs/anaconda39/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 988, in _reset
    pool._dialect.do_rollback(self)
  File "/Users/belyatskiy/miniconda3/envs/anaconda39/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 682, in do_rollback
    dbapi_connection.rollback()
  File "/Users/belyatskiy/miniconda3/envs/anaconda39/lib/python3.9/site-packages/pymysql/connections.py", line 480, in rollback
    self._read_ok_packet()
  File "/Users/belyatskiy/miniconda3/envs/anaconda39/lib/python3.9/site-packages/pymysql/connections.py", line 443, in _read_ok_packet
    pkt = self._read_packet()
  File "/Users/belyatskiy/miniconda3/envs/anaconda39/lib/python3.9/site-packages/pymysql/connections.py", line 692, in _read_packet
    packet_header = self._read_bytes(4)
  File "/Users/belyatskiy/miniconda3/envs/anaconda39/lib/python3.9/site-packages/pymysql/connections.py", line 748, in _read_bytes
    raise err.OperationalError(
pymysql.err.OperationalError: (2013, 'Lost connection to MySQL server during query')

In [85]:
statement = text(f"DROP DATABASE IF EXISTS {dbname}")

In [86]:
connection.execute(statement)

In [87]:
statement = text(f"CREATE DATABASE {dbname}")

In [88]:
connection.execute(statement)

In [89]:
engine = create_engine(f'mysql+pymysql://{uname}:{pwd}@{hostname}/{dbname}')

In [90]:
data = pd.DataFrame({'name': [1, 2, 3], 'test': [3, 2, 1]})
data

   name  test
0     1     3
1     2     2
2     3     1

In [100]:
data.to_sql(name='users', con=engine, if_exists='append', index=False)

3

In [101]:
pd.read_sql('SELECT * from test_db.users where name = 1;', con=engine)

   name  test
0     1     3
1     1     3
2     1     3
3     1     3
4     1     3
5     1     3

In [49]:
mydb = mysql.connector.connect(
    host="0.0.0.0",
    user="root",
    password="password",
    database='test_db',
    port=3306
)

NameError: name 'mysql' is not defined

In [43]:
cursor = mydb.cursor()

In [44]:
cursor.execute("DROP TABLE IF EXISTS manufacturers")

In [45]:
cursor.execute("CREATE TABLE widgets (name VARCHAR(255), description VARCHAR(255))")

In [47]:
data = pd.DataFrame({'name': ['1', '2', '3'], 'description': [1, 2, 3]})

In [48]:
data

  name  description
0    1            1
1    2            2
2    3            3

In [18]:
import time

In [20]:
time.sleep(10)

In [106]:
from sqlalchemy import create_engine
from sqlalchemy.sql import text

In [107]:
hostname="0.0.0.0"
dbname="manufacturers"
uname="root"
pwd="password"

In [108]:
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(host=hostname, db=dbname, user=uname, pw=pwd))

In [109]:
connection = engine.connect()

In [110]:
statement = text("")

In [111]:
pd.read_sql('SHOW DATABASES;', con=engine, )

             Database
0  information_schema
1       manufacturers

In [112]:
statement = text("select count(*) from manufacturers.manufacturers_table;")
res = connection.execute(statement)

In [66]:
for item in res:
    print(item)

(48885,)

In [68]:
res.scalar()

48885

In [178]:
r = requests.get(url='http://localhost:8000/db/', params={'manufacturer': 'Bomag',
                                                          'model': 'BW100',
                                                          'part_category': 'Thermic apron'})
# r = requests.get(url='http://localhost:8000/db/', params={'manufacturer': 'Bomag'})

In [179]:
pd.DataFrame(r.json())

  manufacturer      category  model  part_category part_number
0        Bomag  Roller Parts  BW100  Thermic apron    15003080
1        Bomag  Roller Parts  BW100  Thermic apron    15003081
2        Bomag  Roller Parts  BW100  Thermic apron    15003082

In [30]:
pd.read_sql('select count(*) from manufacturers.manufacturers_table;', con=engine).values[0][0]

48885

In [116]:
# data.to_sql(name='users', con=engine, if_exists='replace', index=False)

In [75]:
data.to_sql(name='users', con=engine, if_exists='append', index=False)

3

In [116]:
pd.read_sql('SELECT * from manufacturers.manufacturers_table limit 5;', con=engine)

  manufacturer      category   model part_category part_number
0       Ammann  Roller Parts  ASC100    LEFT COVER    ND011710
1       Ammann  Roller Parts  ASC100      VIBRATOR    ND011758
2       Ammann  Roller Parts  ASC100   RIGHT COVER    ND011785
3       Ammann  Roller Parts  ASC100     ECCENTRIC    ND017673
4       Ammann  Roller Parts  ASC100     ECCENTRIC    ND017675

In [120]:
import requests

In [121]:
raise requests.exceptions.SSLError

SSLError:

In [102]:
import configparser

from sqlalchemy import create_engine
from sqlalchemy.sql import text


class Database:
    def __init__(self, config_path: str = 'mysql.ini'):
        config = configparser.ConfigParser()
        config.read(config_path)

        self.host = config['Database']['host']
        self.port = config['Database']['port']
        self.database = config['Database']['database']
        self.user = config['Database']['user']
        self.password = config['Database']['password']
        self.table = config['Database']['table']

    def connect(self, initial_connection: bool = False):
        if initial_connection:
            engine = create_engine(f'mysql+pymysql://{self.user}:{self.password}@{self.host}:{self.port}')
            with engine.connect() as connection:
                statement = text(f"DROP DATABASE IF EXISTS {self.database}")
                connection.execute(statement)

                statement = text(f"CREATE DATABASE {self.database}")
                connection.execute(statement)

        engine = create_engine(f'mysql+pymysql://{self.user}:{self.password}@{self.host}:{self.port}/{self.database}')
        self.engine = engine

In [103]:
db = Database()

In [104]:
db.connect(initial_connection=True)

In [105]:
data = pd.DataFrame({'name': [1, 2, 3], 'test': [3, 2, 1]})
data

   name  test
0     1     3
1     2     2
2     3     1

In [108]:
data.to_sql(name='users', con=db.engine, if_exists='append', index=False)

3

In [113]:
pd.read_sql(f'SELECT * from {db.database}.users where name = 1;', con=engine)

   name  test
0     1     3
1     1     3
2     1     3

In [2]:
import pandas as pd

In [96]:
class Test:
    def __new__(self):
        self.test = 'aaaa'
        self.a = 'rrrrrrrr'
        return self.test
        
    # def __repr__(self):
    #     return self.test